*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 350px;
    margin: 190px 500px 100px;
   height: 360px;
   box-shadow:0px 0px 32px 2px black;
}
form button{
    height: 30px;
    width: 155px;
    padding: 5px;
    margin-left: 100px;
    margin-bottom: 10px;
   background-color: green;
   }
   form p{
    margin-left: 90px;
    color:whitesmoke;
   }
   form a{
   color: cyan;
    text-decoration: none;
   }
form h1{
    color:blueviolet;
    font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
    text-transform: uppercase;
    margin: 20px 140px 30px 140px;
}
form label{
    margin-left: 25px;
    color: greenyellow;
}
form input{
    margin-left: 20px;
}
form input[type="text"]{
    height: 30px;
    width: 50%;
    padding-left: 10px;
    background-color:rgb(242, 242, 196);
}
form input[type="password"]{
    height: 30px;
    width: 50%;
    padding-left: 10px;
    background-color:rgb(242, 242, 196);
}
body{
    background: url(./images/bg);
    background-size: cover;
}